.headerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background-color: black;
}

.linkStyled {
    color: white;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.linkStyled:hover {
    transition: ease-in 0.3s;
    color: grey;
}

.logo {
    max-height: 100%;
}

