.addUserContainer {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addUserContainer input {
    border: 1px solid black;
    margin: 10px;
    padding: 0.5rem;
}

.addUserContainer button {
    cursor: pointer;
    background-color: black;
    border-radius: 5px;
    color: white;
    margin: 10px;
    padding: 1rem;
    text-transform: uppercase;
}

.addUserContainer button:hover {
    background-color: white;
    color: black;
    transition: ease-in 0.3s;
}


