.mainSectionContainer {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

.tableHeader {
    background-color: black;
    color: white;
}

td, th {
    text-align: left;
    padding: 18px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
